@font-face {
    font-family: TextFont;
    src: url(./font/Heal_The_World.ttf);
}
@font-face {
    font-family: ButtonFont;
    src: url(./font/SNOW\ BLUE.ttf);
}

body {
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1a1a1a; 
    color: #ffffff; 
    background-image: url('wallpaper.jpg'); 
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.container {
    padding: 20px; 
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    max-width: 800px;
    margin: auto;    
}

h1 {
    font-family: ButtonFont;
    font-size: 2.0em;
    margin-bottom: 20px;
}

.logo {
    width: 150px;
    height: auto;
    margin: 10px 0;
}

p {
    font-size: 1.2em;
    line-height: 1.5;
}

.button-container {
    margin-top: 30px;
}

.descText {
    font-family: textFont;
}

.button {
    font-family: ButtonFont;
    display: inline-block;
    background-color: #4CAF50; 
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px;
    transition: background-color 0.3s;
}

.copy-button {
    display: inline-block;
    background-color: #96aadb; 
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 50px;
    margin: 10px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #45a049; 
}

.copy-button:hover {
    background-color: #467adb; 
}

@media (max-width: 600px) {
    h1 {
        font-size: 2em; 
    }

    .logo {
        width: 80px; 
    }

    p {
        font-size: 1em; 
    }

    .button {
        padding: 10px 20px; 
        font-size: 0.9em; 
    }
    
    .container {
        padding: 15px; 
    }
}

.how-to-content {
    display: none; 
    margin: 10px;
}

.toggle {
    font-family: ButtonFont;
    display: inline-block;
    background-color: #96aadb; 
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px;
}

.how-to-content ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0;
    text-align: center;
}

.howto-container {
    background-color: rgba(255, 255, 255, 0.1);
    text-decoration: none;
    border-radius: 10px;
    margin: 10px;
    padding: 1px;
}

.how-to-content img {
    width: 65%;
    height: 65%;   
    margin: 10px;
    border-radius: 5px;
}
